/* Font */
@import url("https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap");

/* Global body styles */
body {
  margin: 2rem auto 4rem;
  padding: 0 4rem;
  color: #fff;
  font-family: "Fugaz One", cursive;
  background-color: rgb(238, 154, 106);
  background-image: url(/images/backgrounds/cardboard-flat.png);
  line-height: 1.6;
  max-width: 60rem;
}

h1 {
  text-align: center;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 1), 1px -1px 0 rgba(0, 0, 0, 1),
    -1px 1px 0 rgba(0, 0, 0, 1), 1px 1px 0 rgba(0, 0, 0, 1),
    6px 6px 0 rgba(0, 0, 0, 1);
  font-size: 3em;
  padding: 1rem 0;
}

/* Header */
header {
  margin: auto;
  max-width: 40rem;
}

header div {
  max-height: 6rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #b0e7e8;
  background-image: url(/images/backgrounds/asfalt-dark.png);
  border-radius: 40px;
  box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.45), 0px 0px 0px 1px #000;
}

header img {
  width: 80px;
  height: 80px;
}

/* Global section styles */
section h1,
footer h1 {
  border-bottom: 1px solid #000;
  margin: 1rem 4rem;
}

/* Clock */
.clock {
  background-color: #dfffcc;
  background-image: url(/images/backgrounds/always-grey.png);
  border-radius: 25px;
  box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 0.45);
  margin: 4rem 0;
  transition: all 0.2s ease;
}

.clock h1 {
  border: none;
}

/* Schedule */
.schedule {
  background-color: #f9f9ba;
  background-image: url(/images/backgrounds/asfalt-dark.png);
  border-radius: 4px;
  margin-bottom: 40px;
  box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 0.45);
  transition: all 0.2s ease;
}
.table {
  min-height: 40vh;
  padding: 2rem;
  overflow-x: auto;
}
table {
  width: 56rem;
  border-collapse: collapse;
}

tr {
  text-align: center;
}
th {
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 1), 1px -1px 0 rgba(0, 0, 0, 1),
    -1px 1px 0 rgba(0, 0, 0, 1), 1px 1px 0 rgba(0, 0, 0, 1);
}
td {
  font-weight: normal;
  color: #000;
  padding: 10px 5px;
  border: 2px solid rgba(236, 180, 140, 0.5);
}
td:nth-child(1) {
  width: 2rem;
}
td:nth-child(2),
td:nth-child(3),
td:nth-child(4) {
  width: 33%;
}
/* Resources and Judges */
.resourcesJudges {
  display: flex;
  box-shadow: none;
  margin-bottom: 40px;
}

.resources,
.judges {
  flex: 1;
  border-radius: 25px;
  box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 0.45);
  min-height: 40vh;
  transition: all 0.2s ease;
}

.resources {
  background-color: #baf9e6;
  background-image: url(/images/backgrounds/asfalt-dark.png);
  margin-right: 20px;
}

.judges {
  background-color: #a9d4fc;
  background-image: url(/images/backgrounds/asfalt-dark.png);
  margin-left: 20px;
}

/* Sponsors */
footer {
  background-color: #e17878;
  background-image: url(/images/backgrounds/asfalt-dark.png);
  border-radius: 25px;
  box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 0.45);
  min-height: 40vh;
  transition: all 0.2s ease;
}

footer img {
  height: 200px;
  display: block;
  margin: 0 auto;
}

/* Box shadow hover animation */
.clock:hover,
.schedule:hover,
.resources:hover,
.judges:hover,
footer:hover {
  box-shadow: 15px 15px 0px 0px rgba(0, 0, 0, 0.45);
  transform: translateX(-5px);
}

/* Mobile rules */
@media screen and (max-width: 868px) {
  h1 {
    font-size: 2rem;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 1), 1px -1px 0 rgba(0, 0, 0, 1),
      -1px 1px 0 rgba(0, 0, 0, 1), 1px 1px 0 rgba(0, 0, 0, 1),
      4px 4px 0 rgba(0, 0, 0, 1);
  }
  .resourcesJudges {
    flex-direction: column;
  }
  .resources,
  .judges {
    margin: 20px 0 20px 0;
  }
}
