/*Font */
@import url("https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');/* Global body styles */
body {
  margin: 2rem auto 4rem;
  padding: 0 2rem;
  color: rgb(248, 248, 238);
  font-family: "Fugaz One", cursive;
  background: url(/images/backgrounds/cork.jpg);
  line-height: 1.6;
  max-width: 60rem;
}

h1 {
  text-align: center;
  text-shadow: -1px -1px 0 #141414, 1px -1px 0 #141414,
    -1px 1px 0 #141414, 1px 1px 0 #141414,
    6px 6px 0 #141414;
  font-size: 3em;
  padding: 1rem 0;
}

/* Header */
header {
  margin: auto;
  max-width: 40rem;
}

header div {
  max-height: 6rem;
  padding: 0 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: rgb(176, 231, 232) none repeat scroll 0% 0%;
  border: 5px solid rgb(148, 180, 181);
  box-shadow: rgba(0, 0, 0, 0.45) 6px 6px 0px 0px;
  border-radius: 50px;
}

header img {
  width: 80px;
  height: 80px;
}

/* Global section styles */
section {
  margin-bottom: 40px;
}

section h1,
footer h1 {
  border-bottom: 1px solid #494949;
  margin: 1rem 4rem;
}

/* Clock */
.clock {
  background-color: #dfffcc;
  background-image: url(/images/backgrounds/always-grey.png);
  border-radius: 25px;
  box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 0.45);
  margin: 4rem 0;
  transition: all 0.2s ease;
}

.clock h1 {
  border: none;
}
/* Nav Buttons */
a {
  text-decoration: none;
}
ul{
  display:flex;
}
 ol, ul {
  list-style: none;
  padding: 0;
}
li {
  padding: 0 4px;
}
.navLink {
  border: 5px solid rgb(213, 166, 56);
  font-size: 1em;
  background: rgb(245, 187, 50) none repeat scroll 0% 0%;
  padding: 0.75rem;
  box-shadow: rgba(0, 0, 0, 0.45) 3px 3px 0px 0px;
  border-radius: 22px;
  font-family: "Fugaz One", cursive;
  text-shadow: #141414 1px 1px 0px, #141414 -1px -1px 0px, #141414 1px -1px 0px, #141414 -1px 1px 0px, #141414 2px 2px 0px;
  font-weight: 400;
  color: white;
}
.navLink:hover{
  background: orange none repeat scroll 0% 0%;
}
/* Schedule */
/* Workshop Links*/
td a{
 color: #141414;
 text-decoration: underline;
}
td a:hover{
  color: #58863a;
  font-weight: bolder;
  text-decoration: underline;
 }
.schedule {
  background-color: #f9f9ba;
  background-image: url(/images/backgrounds/asfalt-dark.png);
  border-radius: 4px;
  box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 0.45);
  transition: all 0.2s ease;
}
.table {
  min-height: 40vh;
  padding: 2rem;
  overflow-x: auto;
}
table {
  max-width: 1200px;
  background-color: rgb(248, 248, 238);
  border-collapse: collapse;
}

tr {
  text-align: center;
}
tr:first-child, td:first-child {
  background-color: rgb(248, 248, 238);
}
tr > a:hover{
  background-color: rgba(236, 180, 140, 0.5);
}
th, td {
  font-weight: bold;
  color: #141414;
  padding: 10px 5px;
  border: 2px solid rgba(236, 180, 140, 0.5);
  font-family: "Libre Baskerville",serif;
}
td:nth-child(1) {
  width: 2rem;
}
td:nth-child(2),
td:nth-child(3),
td:nth-child(4) {
  width: 33%;
}
td a nav {
  margin-left: 3%;
}
.room {
  cursor: pointer;
  width:100%;
  height: 100%;
}
.nopadding{
  padding:0;
}
.taller{
  height: 5rem;
}
/* Resources and Judges */

.resources,
.judges {
  border-radius: 25px;
  box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 0.45);
  transition: all 0.2s ease;
  padding: 0 30px;
  padding-bottom: 30px;
}

.resources {
  background-color: #baf9e6;
  background-image: url(/images/backgrounds/asfalt-dark.png);
  text-align: center;
}

.resources p {
  color: #141414;
  font-size: 1rem;
  font-family: 'Libre Baskerville', serif;
  padding: 30px 0;

}
.resources h2 {
  background-color: #adde8e;
box-shadow: 0 5px 0 #87b868;
color: rgb(248, 248, 238);
padding: 1em 1.5em;
position: relative;
color: #141414;
font-family: 'Libre Baskerville', serif;

}
.resources a{
  text-decoration: none;

}
.arrowIcon {
  display: inline-block;
  width: 40px;
  height: 40px;
  padding-right: 30px;
  position: absolute;
  right: 0;
  bottom: 25%;
}
.resources h2:hover {
background-color: #bcf896;
cursor: pointer;
}
.judges {
  background-color: #a9d4fc;
  background-image: url(/images/backgrounds/asfalt-dark.png);
}
.judgeContainer {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-evenly;
}
.judgeList {
  flex: 1;
}

.judge {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  padding: 5px;
}

.judge p {
  color: #141414;
  font-size: 1rem;
  font-family: Helvetica, Arial, sans-serif;
}
.judge p b {
  font-family: "Libre Baskerville",serif;
}

.judge img {
  margin-right: 20px;
  max-width: 75px;
  max-height: 75px;
  border-radius: 50%;
  border: 2px solid rgb(248, 248, 238);
}

/* Sponsors */
footer {
  background-color: #e17878;
  background-image: url(/images/backgrounds/asfalt-dark.png);
  border-radius: 25px;
  box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 0.45);
  min-height: 40vh;
  transition: all 0.2s ease;
}

footer img {
  max-width: 430px;
  height: auto;
}
.wolfram, .usaf{
  max-width: 300px;
}
.sponsors {
  flex: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  align-content: space-around;
  max-width: 1200px;
  margin: auto;
}
/* Box shadow hover animation */
.clock:hover,
.resources:hover,
.judges:hover,
footer:hover {
  box-shadow: 15px 15px 0px 0px rgba(0, 0, 0, 0.45);
  transform: translateX(-5px);
}

/* Mobile rules */
@media screen and (max-width: 868px) {
  h1 {
    font-size: 2rem;
    text-shadow: -1px -1px 0 #141414, 1px -1px 0 #141414,
      -1px 1px 0 #141414, 1px 1px 0 #141414,
      4px 4px 0 #141414;
  }
  .resourcesJudges {
    flex-direction: column;
  }
  footer img{
    max-width:100%;
    height:auto;
  }
  .wolfram, .usaf{
    max-width:100%;
    height:270px;
  }
  body{
    margin: 0;
    padding: 0;
  }
  .judgeContainer{
    flex-direction: column;
  }
  .arrowIcon{
    display: none;
  }
  header{
    max-width: none;
  }
  header div, .clock, .schedule, footer, .resources,
  .judges{
    border-radius: 5px;
    margin-top:0;
    margin-bottom:0;
    box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 0.45);
  }
  .clock{
    margin-top:15px;
  }
  #timer{
    margin: 0;
  }
  .navLink {
    padding: 0.33rem;
  }
  
  header img {
    width: 60px;
    height: 60px;
  }
}
